USE [codigo_azul]
GO
/****** Object:  Table [dbo].[alarmas]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alarmas](
	[alar_id] [int] IDENTITY(1,1) NOT NULL,
	[alar_area_id] [int] NULL,
	[alar_suce_id] [int] NULL,
	[alar_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[alar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[area]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[area_id] [int] IDENTITY(1,1) NOT NULL,
	[area_descripcion] [varchar](255) NULL,
	[area_alarma_sala_id] [int] NULL,
	[area_alarma_texto] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[obra_social]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obra_social](
	[obso_id] [int] IDENTITY(1,1) NOT NULL,
	[obso_descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[obso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paciente]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paciente](
	[paci_id] [int] IDENTITY(1,1) NOT NULL,
	[paci_nombre] [varchar](255) NULL,
	[paci_apellido] [varchar](255) NULL,
	[paci_dni] [int] NULL,
	[paci_grupo_sanguineo] [varchar](10) NULL,
	[paci_obso_id] [int] NULL,
	[paci_ciud_id] [int] NULL,
	[paci_prov_id] [int] NULL,
	[paci_telefono] [varchar](255) NULL,
	[paci_email] [varchar](255) NULL,
	[paci_direccion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[paci_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[rol_id] [int] NOT NULL,
	[rol_nombre] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sala]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sala](
	[sala_id] [int] IDENTITY(1,1) NOT NULL,
	[sala_descripcion] [varchar](255) NULL,
	[sala_area_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suceso]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suceso](
	[suce_id] [int] IDENTITY(1,1) NOT NULL,
	[suce_area_id] [int] NULL,
	[suce_suti_id] [int] NULL,
	[suce_sues_id] [int] NULL,
	[suce_paci_id] [int] NULL,
	[suce_usua_id] [int] NULL,
	[suce_suor_id] [int] NULL,
	[suce_descripcion] [varchar](max) NULL,
	[suce_fecha_ini] [datetime] NULL,
	[suce_fecha_fin] [datetime] NULL,
	[suce_fecha_atendido] [datetime] NULL,
	[suce_resultado_descripcion] [varchar](max) NULL,
	[suce_paci_sala_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[suce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suceso_estado]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suceso_estado](
	[sues_id] [int] IDENTITY(1,1) NOT NULL,
	[sues_descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[sues_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suceso_origen]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suceso_origen](
	[suor_id] [int] IDENTITY(1,1) NOT NULL,
	[suor_descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[suor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suceso_tipo]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suceso_tipo](
	[suti_id] [int] IDENTITY(1,1) NOT NULL,
	[suti_descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[suti_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[usua_id] [int] IDENTITY(1,1) NOT NULL,
	[usua_nombre] [nvarchar](255) NULL,
	[usua_apellido] [nvarchar](255) NULL,
	[usua_usuario] [nvarchar](100) NULL,
	[usua_contraseña] [nvarchar](100) NULL,
	[usua_rol] [int] NOT NULL,
	[usua_habilitado] [bit] NOT NULL,
	[usua_area_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usua_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alarmas] ON 

INSERT [dbo].[alarmas] ([alar_id], [alar_area_id], [alar_suce_id], [alar_fecha]) VALUES (1, 1, 1, CAST(N'2023-09-11T20:05:10.830' AS DateTime))
INSERT [dbo].[alarmas] ([alar_id], [alar_area_id], [alar_suce_id], [alar_fecha]) VALUES (2, 2, 2, CAST(N'2023-09-11T20:05:10.830' AS DateTime))
INSERT [dbo].[alarmas] ([alar_id], [alar_area_id], [alar_suce_id], [alar_fecha]) VALUES (3, 1, 6, CAST(N'2023-09-14T15:31:07.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[alarmas] OFF
GO
SET IDENTITY_INSERT [dbo].[area] ON 

INSERT [dbo].[area] ([area_id], [area_descripcion], [area_alarma_sala_id], [area_alarma_texto]) VALUES (1, N'Área 1', 11, N'Atencion.Codigo Azul ')
INSERT [dbo].[area] ([area_id], [area_descripcion], [area_alarma_sala_id], [area_alarma_texto]) VALUES (2, N'Área 2', 14, N'Atencion.Codigo Azul ')
INSERT [dbo].[area] ([area_id], [area_descripcion], [area_alarma_sala_id], [area_alarma_texto]) VALUES (3, N'Área 3', 17, N'Atencion.Codigo Azul ')
SET IDENTITY_INSERT [dbo].[area] OFF
GO
SET IDENTITY_INSERT [dbo].[obra_social] ON 

INSERT [dbo].[obra_social] ([obso_id], [obso_descripcion]) VALUES (1, N'OSDE')
INSERT [dbo].[obra_social] ([obso_id], [obso_descripcion]) VALUES (2, N'OSECAC')
SET IDENTITY_INSERT [dbo].[obra_social] OFF
GO
SET IDENTITY_INSERT [dbo].[paciente] ON 

INSERT [dbo].[paciente] ([paci_id], [paci_nombre], [paci_apellido], [paci_dni], [paci_grupo_sanguineo], [paci_obso_id], [paci_ciud_id], [paci_prov_id], [paci_telefono], [paci_email], [paci_direccion]) VALUES (1, N'Juan', N'Pérez', 12345678, N'A+', 1, 1, 1, N'123-456-7890', N'juan@example.com', N'Calle 123')
INSERT [dbo].[paciente] ([paci_id], [paci_nombre], [paci_apellido], [paci_dni], [paci_grupo_sanguineo], [paci_obso_id], [paci_ciud_id], [paci_prov_id], [paci_telefono], [paci_email], [paci_direccion]) VALUES (2, N'María', N'Gómez', 23456789, N'B-', 2, 2, 2, N'987-654-3210', N'maria@example.com', N'Avenida 456')
INSERT [dbo].[paciente] ([paci_id], [paci_nombre], [paci_apellido], [paci_dni], [paci_grupo_sanguineo], [paci_obso_id], [paci_ciud_id], [paci_prov_id], [paci_telefono], [paci_email], [paci_direccion]) VALUES (3, N'Carlos', N'Rodríguez', 34567890, N'O+', 1, 3, 3, N'555-555-5555', N'carlos@example.com', N'Plaza Principal')
SET IDENTITY_INSERT [dbo].[paciente] OFF
GO
INSERT [dbo].[rol] ([rol_id], [rol_nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[rol] ([rol_id], [rol_nombre]) VALUES (2, N'Enfermero')
GO
SET IDENTITY_INSERT [dbo].[sala] ON 

INSERT [dbo].[sala] ([sala_id], [sala_descripcion], [sala_area_id]) VALUES (1, N'habitacion 1', 1)
INSERT [dbo].[sala] ([sala_id], [sala_descripcion], [sala_area_id]) VALUES (2, N'habitacion 2', 1)
INSERT [dbo].[sala] ([sala_id], [sala_descripcion], [sala_area_id]) VALUES (3, N'habitacion 3', 2)
SET IDENTITY_INSERT [dbo].[sala] OFF
GO
SET IDENTITY_INSERT [dbo].[suceso] ON 

INSERT [dbo].[suceso] ([suce_id], [suce_area_id], [suce_suti_id], [suce_sues_id], [suce_paci_id], [suce_usua_id], [suce_suor_id], [suce_descripcion], [suce_fecha_ini], [suce_fecha_fin], [suce_fecha_atendido], [suce_resultado_descripcion], [suce_paci_sala_id]) VALUES (1, 1, 1, 1, 1, 1, 1, N'Suceso 1', CAST(N'2023-09-11T20:05:10.827' AS DateTime), NULL, CAST(N'2023-09-11T20:06:10.827' AS DateTime), N'Resultado del suceso 1', NULL)
INSERT [dbo].[suceso] ([suce_id], [suce_area_id], [suce_suti_id], [suce_sues_id], [suce_paci_id], [suce_usua_id], [suce_suor_id], [suce_descripcion], [suce_fecha_ini], [suce_fecha_fin], [suce_fecha_atendido], [suce_resultado_descripcion], [suce_paci_sala_id]) VALUES (2, 2, 1, 2, 2, 1, 2, N'Suceso 2', CAST(N'2023-09-11T20:05:10.827' AS DateTime), NULL, CAST(N'2023-09-11T20:06:10.827' AS DateTime), N'Resultado del suceso 2', NULL)
INSERT [dbo].[suceso] ([suce_id], [suce_area_id], [suce_suti_id], [suce_sues_id], [suce_paci_id], [suce_usua_id], [suce_suor_id], [suce_descripcion], [suce_fecha_ini], [suce_fecha_fin], [suce_fecha_atendido], [suce_resultado_descripcion], [suce_paci_sala_id]) VALUES (3, 1, 2, 1, 3, 1, 1, N'Suceso 3', CAST(N'2023-09-11T20:05:10.827' AS DateTime), NULL, CAST(N'2023-09-11T20:06:10.827' AS DateTime), N'Resultado del suceso 3', NULL)
SET IDENTITY_INSERT [dbo].[suceso] OFF
GO
SET IDENTITY_INSERT [dbo].[suceso_estado] ON 

INSERT [dbo].[suceso_estado] ([sues_id], [sues_descripcion]) VALUES (1, N'Pendiente')
INSERT [dbo].[suceso_estado] ([sues_id], [sues_descripcion]) VALUES (2, N'Atendido')
INSERT [dbo].[suceso_estado] ([sues_id], [sues_descripcion]) VALUES (3, N'Finalizado')
SET IDENTITY_INSERT [dbo].[suceso_estado] OFF
GO
SET IDENTITY_INSERT [dbo].[suceso_origen] ON 

INSERT [dbo].[suceso_origen] ([suor_id], [suor_descripcion]) VALUES (1, N'Alarma Código Azul')
INSERT [dbo].[suceso_origen] ([suor_id], [suor_descripcion]) VALUES (2, N'Manual')
INSERT [dbo].[suceso_origen] ([suor_id], [suor_descripcion]) VALUES (3, N'Cama')
SET IDENTITY_INSERT [dbo].[suceso_origen] OFF
GO
SET IDENTITY_INSERT [dbo].[suceso_tipo] ON 

INSERT [dbo].[suceso_tipo] ([suti_id], [suti_descripcion]) VALUES (1, N'Normal')
INSERT [dbo].[suceso_tipo] ([suti_id], [suti_descripcion]) VALUES (2, N'Emergencia')
SET IDENTITY_INSERT [dbo].[suceso_tipo] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([usua_id], [usua_nombre], [usua_apellido], [usua_usuario], [usua_contraseña], [usua_rol], [usua_habilitado], [usua_area_id]) VALUES (1, N'Administrador', N'Administrador', N'admin', N'admin', 1, 1, 0)
INSERT [dbo].[usuarios] ([usua_id], [usua_nombre], [usua_apellido], [usua_usuario], [usua_contraseña], [usua_rol], [usua_habilitado], [usua_area_id]) VALUES (2, N'Enfermero1', N'Enfermero1', N'enfermero1', N'enfermero1', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[alarmas] ADD  DEFAULT (getdate()) FOR [alar_fecha]
GO
ALTER TABLE [dbo].[suceso] ADD  DEFAULT (getdate()) FOR [suce_fecha_ini]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [usua_rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [usua_habilitado]
GO
/****** Object:  StoredProcedure [dbo].[GetPromedioRespuesta]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[GetPromedioRespuesta]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PromedioRespuesta FLOAT;

SELECT @PromedioRespuesta = ROUND(AVG(CAST(DATEDIFF(SECOND, [suce_fecha_ini], [suce_fecha_atendido]) AS FLOAT) / 60.0),2)
    FROM [dbo].[suceso]
    WHERE [suce_fecha_ini] IS NOT NULL AND [suce_fecha_atendido] IS NOT NULL;

	    SELECT @PromedioRespuesta AS PromedioRespuestaMinutos;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSucesosUltimas24Horas]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSucesosUltimas24Horas]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaActual DATETIME;
    SET @FechaActual = GETDATE();
    DECLARE @FechaInicio DATETIME;
    SET @FechaInicio = DATEADD(HOUR, -24, @FechaActual);

    SELECT se.[sues_descripcion], COUNT(s.[suce_id]) AS Cantidad
    FROM [dbo].[suceso] AS s
    INNER JOIN [dbo].[suceso_estado] AS se ON s.[suce_sues_id] = se.[sues_id]
    WHERE s.[suce_fecha_ini] >= @FechaInicio
    GROUP BY se.[sues_descripcion]
    ORDER BY se.[sues_descripcion];
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSucesosUltimos7DiasPorArea]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSucesosUltimos7DiasPorArea]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaHace7Dias DATETIME;
    SET @FechaHace7Dias = DATEADD(DAY, -7, GETDATE());

    SELECT a.[area_descripcion], COUNT(s.[suce_id]) AS CantidadSucesos
    FROM [dbo].[suceso] AS s
    INNER JOIN [dbo].[area] AS a ON s.[suce_area_id] = a.[area_id]
    WHERE s.[suce_fecha_ini] >= @FechaHace7Dias
    GROUP BY a.[area_descripcion]
    ORDER BY a.[area_descripcion];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarSucesoAlarmaCodigoAzul]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarSucesoAlarmaCodigoAzul](
	@area_id int
)
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @suti_id int = 2 --emergencia
	DECLARE @sues_id int = 1--pendiente
	DECLARE @suor_id int = 1--alarma codigo azul
	DECLARE @InsertedIDs TABLE (suce_id INT) --tabla para guarda el suce_id insertado
	DECLARE @suce_id int
	DECLARE @sala_id int

	BEGIN TRY
		select top 1 @sala_id = area_alarma_sala_id from area where area_id = @area_id 
		
		--se inserta el suceso
		INSERT INTO [dbo].[suceso]
				   ([suce_area_id]
				   ,[suce_suti_id]
				   ,[suce_sues_id]
				   ,[suce_paci_id]
				   ,[suce_usua_id]
				   ,[suce_suor_id]
				   ,[suce_descripcion]
				   ,[suce_fecha_ini]
				   ,[suce_fecha_fin]
				   ,[suce_fecha_atendido]
				   ,[suce_resultado_descripcion]
				   ,[suce_paci_sala_id])
			 OUTPUT INSERTED.suce_id INTO @InsertedIDs  --obtiene el suce_id insertado
			 VALUES
				   (@area_id
				   ,@suti_id
				   ,@sues_id
				   ,null--<suce_paci_id, int,>
				   ,null--<suce_usua_id, int,>
				   ,@suor_id
				   ,'Alarma de codigo azul generada de forma automatica por el sistema'
				   ,GETDATE()
				   ,null
				   ,null
				   ,''
				   ,@sala_id)
		select top 1 @suce_id = suce_id from @InsertedIDs

		--inserta el registro en alarmas para que lo tomen los monitores de esa area
		INSERT INTO [dbo].[alarmas]
					([alar_area_id]
					,[alar_suce_id]
					,[alar_fecha])
			VALUES
					(@area_id
					,@suce_id
					,GETDATE())

			select @suce_id as ID_INSERTADO
	END TRY
	BEGIN CATCH
		select -1 as ID_INSERTADO 
	END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerAlarmasArea]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerAlarmasArea]
    @area_id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @fecha_actual DATETIME
    SET @fecha_actual = GETDATE()

    SELECT TOP 1
        area_alarma_texto +''+ sala_descripcion as TextoAlarma
    FROM alarmas
	INNER JOIN area on area_id = alar_area_id
	INNER JOIN sala on sala_id = area_alarma_sala_id
    WHERE
        alar_area_id = @area_id
        AND alar_fecha >= DATEADD(MINUTE, -5, @fecha_actual)
    ORDER BY
        alar_fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerAreas]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerAreas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT area_id, area_descripcion FROM area
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerSucesosGrilla]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerSucesosGrilla]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT suce_id, sues_descripcion, suce_fecha_ini, suce_descripcion, paci_nombre, paci_apellido, paci_dni, paci_grupo_sanguineo, obso_descripcion, sala_descripcion, suti_descripcion FROM suceso
	LEFT JOIN suceso_estado on sues_id = suce_sues_id
	LEFT JOIN paciente on paci_id = suce_paci_id
	LEFT JOIN area on area_id = suce_area_id
	LEFT JOIN sala on sala_area_id = area_id
	LEFT JOIN suceso_tipo on suti_id = suce_suti_id
	LEFT JOIN obra_social on obso_id = paci_obso_id
	WHERE sues_descripcion = 'atendido' or sues_descripcion = 'pendiente'
	ORDER BY sues_descripcion, suce_fecha_ini
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerSucesosUsuario]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerSucesosUsuario]
    @usua_id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @usua_area_id INT;

    -- Obtener el usua_area_id del usuario
    SELECT @usua_area_id = usua_area_id FROM [codigo_azul].[dbo].[usuarios] WHERE usua_id = @usua_id;

    IF @usua_area_id IS NULL
    BEGIN
        THROW 51000, 'El usuario especificado no existe.', 1;
        RETURN;
    END

    IF @usua_area_id = 0
    BEGIN
        -- Si el usuario tiene usua_area_id = 0, seleccionar todos los sucesos pendientes de todas las áreas
        SELECT  top 5 'Suceso N°: ' + CAST(suce_id AS VARCHAR(10))  AS Suceso,
 			   area_descripcion as Area,
               coalesce(paci_id,-1) AS PacienteID,
			   coalesce(sala_descripcion,'') AS Ubicacion,
               coalesce(paci_nombre + ' ' + paci_apellido,'') AS PacienteNombre,
               suce_descripcion AS Descripcion,
			   suor_descripcion AS Origen,
			   suce_fecha_ini as Fecha,
			   sues_descripcion as Estado,
			   suti_descripcion as Tipo,
			   coalesce(usua_nombre + ' ' + usua_apellido, '')  as Asignado
        FROM Suceso 
        LEFT JOIN paciente  ON suce_paci_id = paci_id
		LEFT JOIN area ON area_id = suce_area_id
		LEFT JOIN suceso_estado ON sues_id = suce_sues_id
		LEFT JOIN suceso_tipo ON suti_id = suce_suti_id
		LEFT JOIN suceso_origen ON suor_id = suce_suor_id
		LEFT JOIN usuarios ON usua_id = suce_usua_id
		LEFT JOIN sala ON sala_id = suce_paci_sala_id
        WHERE  (suce_sues_id = 1 OR suce_sues_id = 2); -- Pendiente o Atendido
    END
    ELSE
    BEGIN
        -- Si el usuario tiene usua_area_id diferente de 0, seleccionar sucesos pendientes del área del usuario
        SELECT top 5 'Suceso N°: ' + CAST(suce_id AS VARCHAR(10))  AS Suceso,
			   area_descripcion as Area,
               coalesce(paci_id,-1) AS PacienteID,
			   coalesce(sala_descripcion,'') AS Ubicacion,
               coalesce(paci_nombre + ' ' + paci_apellido,'') AS PacienteNombre,
               suce_descripcion AS Descripcion,
			   suor_descripcion AS Origen,
			   suce_fecha_ini as Fecha,
			   sues_descripcion as Estado,
			   suti_descripcion as Tipo,
			   coalesce(usua_nombre + ' ' + usua_apellido, '')  as Asignado
        FROM Suceso 
        LEFT JOIN paciente  ON suce_paci_id = paci_id
		LEFT JOIN area ON area_id = suce_area_id
		LEFT JOIN suceso_estado ON sues_id = suce_sues_id
		LEFT JOIN suceso_tipo ON suti_id = suce_suti_id
		LEFT JOIN suceso_origen ON suor_id = suce_suor_id
		LEFT JOIN usuarios ON usua_id = suce_usua_id
		LEFT JOIN sala ON sala_id = suce_paci_sala_id
        WHERE 
			(suce_sues_id = 1 OR suce_sues_id = 2) and
			(suce_usua_id = @usua_id or (suce_area_id = @usua_area_id))
     
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarUsuario]    Script Date: 15/9/2023 16:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Crear el procedimiento almacenado
CREATE PROCEDURE [dbo].[sp_ValidarUsuario]
    @NombreUsuario NVARCHAR(100),
    @Contraseña NVARCHAR(100)
AS
BEGIN
    -- Declarar una variable para almacenar el ID de rol del usuario
    DECLARE @usua_id INT;

    -- Intentar encontrar un usuario con el nombre y contraseña proporcionados
    SELECT @usua_id = usua_id
    FROM usuarios
    WHERE usua_usuario = @NombreUsuario
      AND usua_contraseña = @Contraseña;

    -- Comprobar si se encontró un usuario válido
    IF @usua_id IS NOT NULL
    BEGIN
        -- Retornar el ID de rol del usuario
        SELECT @usua_id AS usua_id;
    END
    ELSE
    BEGIN
        -- No se encontró un usuario válido, retornar 0
        SELECT 0 AS usua_id;
    END
END;
GO
